<!DOCTYPE html>
<html>
<head>
    <title>Sensors</title>
</head>
<body>
<div id="container_nas" style="min-width:400px;height:350px"></div>
<br/>
<br/>

<div id="container_r7000" style="min-width:400px;height:350px"></div>
<br/>
<br/>

<div id="container_pi" style="min-width:400px;height:350px"></div>
<script src="{{ url_for('static',filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/highcharts.js') }}"></script>
<script>

{#    console.log({{temperature_data}});#}
    chart_data = {{temperature_data | safe}}
            console.log(chart_data);
            $(function () {

                Highcharts.setOptions({
                    global: {
                        useUTC: false //close UTC
                    }
                });

                $('#container_nas').highcharts({
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'CPU Temperature'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                                'Click and drag in the plot area to zoom in' :
                                'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime',
                        maxZoom: 1 * 3600000, // one hour
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature'
                        }
                    },
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {x1: 0, y1: 0, x2: 0, y2: 1},
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            lineWidth: 1,
                            marker: {
                                enabled: false
                            },
                            shadow: false,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [{
                        type: 'area',
                        name: 'CPU',
                        pointInterval: parseInt(chart_data['NAS']['point_interval'] + '000', 10),
                        pointStart: parseInt(chart_data['NAS']['point_start'] + '000', 10),
                        data: chart_data['NAS']['CPU']
                    }]
                });
                {#            });#}
                {##}
                {#    $(function () {#}
                {#        $('#container_r7000').highcharts({#}
                {#            chart: {#}
                {#                zoomType: 'x',#}
                {#                type: 'line'#}
                {#            },#}
                {#            title: {#}
                {#                text: 'R7000 Temperature'#}
                {#            },#}
                {#            xAxis: {#}
                {#                categories: chart_data['date']#}
                {#            },#}
                {#            yAxis: {#}
                {#                title: {#}
                {#                    text: 'Temperature (°C)'#}
                {#                }#}
                {#            },#}
                {#            plotOptions: {#}
                {#                line: {#}
                {#                    dataLabels: {#}
                {#                        enabled: true#}
                {#                    },#}
                {#                    enableMouseTracking: false#}
                {#                }#}
                {#            },#}
                {#            series: [{#}
                {#                name: 'cpu',#}
                {#                data: chart_data['R7000']['cpu']#}
                {#            }, {#}
                {#                name: 'wl1',#}
                {#                data: chart_data['R7000']['eth1']#}
                {#            }, {#}
                {#                name: 'wl2',#}
                {#                data: chart_data['R7000']['eth2']#}
                {#            }]#}
                {#        });#}
                {#        $('#container_pi').highcharts({#}
                {#            chart: {#}
                {#                type: 'line'#}
                {#            },#}
                {#            title: {#}
                {#                text: 'Pi2 Temperature'#}
                {#            },#}
                {#            xAxis: {#}
                {#                categories: chart_data['date']#}
                {#            },#}
                {#            yAxis: {#}
                {#                title: {#}
                {#                    text: 'Temperature (°C)'#}
                {#                }#}
                {#            },#}
                {#            plotOptions: {#}
                {#                line: {#}
                {#                    dataLabels: {#}
                {#                        enabled: true#}
                {#                    },#}
                {#                    enableMouseTracking: false#}
                {#                }#}
                {#            },#}
                {#            series: [{#}
                {#                name: 'cpu',#}
                {#                data: chart_data['RaspberryPi2']['cpu']#}
                {#            }]#}
                {#        });#}

            });
</script>
</body>
</html>
